<!DOCTYPE html>
<html>
<head>
    <title>{{ pet_name }} - Pet Nutrition and Weight Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ pet_name }}</h1>

        </header>
        <main>

            {% if nutrition_logs %}
                <h2>Nutrition Logs Chart</h2>
                <canvas id="nutrition-chart" width="200" height="100"></canvas>
            {% endif %}


            <h2>Weight History</h2>
            <canvas id="weight-chart" width="200" height="100"></canvas>

            <h2>Nutrition Logs <span class="expand-collapse">[+]</span></h2>
            <table class="log-table nutrition-log">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Nutrition</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in nutrition_logs %}
                        <tr>
                            <td>{{ log[1] }}</td>
                            <td>{{ log[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Weight Logs <span class="expand-collapse">[+]</span></h2>
            <table class="log-table weight-log">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in weight_logs %}
                        <tr>
                            <td>{{ log[1] }}</td>
                            <td>{{ log[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
    <script>
        var weightData = {{ weight_data|safe }};
        var weightDates = {{ weight_dates|safe }};
        var ctx = document.getElementById('weight-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: weightDates,
                datasets: [{
                    label: 'Weight',
                    data: weightData,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Add click event listener to expand/collapse buttons
        var expandCollapseButtons = document.querySelectorAll('.expand-collapse');
        expandCollapseButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Toggle log table display
                var table = this.parentNode.nextElementSibling;
                if (table.style.display === 'none') {
                    table.style.display = 'block';
                    this.innerText = '[-]';
                } else {
                    table.style.display = 'none';
                    this.innerText = '[+]';
                }
            });
        });
    </script>


    {% if nutrition_logs %}
    <script>
        var nutritionData = {{ nutrition_data|safe }};
        var nutritionDates = {{ nutrition_dates|safe }};
        var ctx = document.getElementById('nutrition-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: nutritionDates,
                datasets: [{
                    label: 'Nutrition',
                    data: nutritionData,
                    fill: false,
                    borderColor: 'rgb(255, 99, 132)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    {% endif %}

</body>
</html>
